.messageContainer {
	width: 520px;
	margin-left: -240px;
	padding-bottom: 20px;
	margin-top: -200px;
	position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #c9c9c9;
    background: white;
    -webkit-box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: 1px 1px 0px 0px rgba(255, 255, 255, 1);
}